body {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0px;
}

h1 {
  background-color: #E6E6E6;
  padding: 5px;
  margin: 0px;
}

.navbar {
  background-color: pink;
  padding: 5px;
}

h2 {
  margin: 0px;
}
.column1 {
  width: 600px;
  float: left;
  background-color: #A1EBA1;
  padding: 10px;
}

.column2 {
  width: 300px;
  float: left;
  background-color: #B591FF;
  padding: 10px;
}
